<div class="solicitud">
    <h1 class="titulo">Solicita tu Cotización</h1>
    <div class="cotizar">
        <div class="row-img">
            <img src="assets/cotizar-envio.png" alt="Calculadora">
            <hr>
            <div class="coordi">
                <i class="fa-solid fa-truck"></i>
                <h2>Coordinadora de Tanques</h2>
            </div>
        </div>

        <div class="row-costeo">
            <form>
                <p>De una manera ágil y oportuna podrá conocer el costo de sus envíos a nivel nacional.</p>
                <div class="seccion-form">
                    <div class="titulo-label">
                        <h3>Datos de la Empresa</h3>
                    </div>
                    
                </div>

                <div class="seccion-form">
                    <div class="titulo-label">
                        <h3>Datos Personales</h3>
                    </div>
                    
                </div>

                <div class="seccion-form">
                    <div class="titulo-label">
                        <h3>Tipo de Vehículo</h3>
                    </div>
                    
                </div>

                <div class="seccion-form">
                    <div class="titulo-label">
                        <h3>Lugar de Origen</h3>
                    </div>

                </div>

                <div class="seccion-form">
                    <div class="titulo-label">
                        <h3>Lugar de Destino</h3>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>