/* GENERALES */
.request {
    --color-primary: #EE2C37;
    --font-primary: 'Montserrat', sans-serif;
    
    padding: 130px 100px 0;
}

.title, h3, h2, p, .label, input, select, textarea {
    font-family: var(--font-primary);
}

.cotizar, .row-img, .coordi, form, .labels, .label {
    display: flex;
}

.title {   
    margin-bottom: 35px;
    margin-left: 100px;
    font-size: 55px;
    font-weight: 500;
}

.cotizar {
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    gap: 30px
}

/* IMAGEN DEL COSTEO */
.row-img {
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.row-img img {
    max-width: 90%;
}

.coordi {
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--color-primary);
    font-size: 20px;
}

.coordi h2 {
    font-weight: 500;
}

.coordi i {
    font-size: 30px;
}

/* FORM COSTEO */
.row-costeo {
    width: 55%;
}

p {
    font-size: 13px;
}

form {
    width: 100%;
    flex-direction: column;
}

.titulo-label {
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

.labels {
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

.label {
    flex-direction: column;
    width: 40%;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.747);
    font-size: 14px;
}

input, select, textarea {
    margin-top: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.425);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
}