<nav [ngClass]="{'init' : init}">
    <div class="navbar">
        <div class="logo">
            <a routerLink="home">
                <img class="logo-imagen" src="https://coorditanques.com/resource/icons/logo 1.webp" alt="Coordinadora de Tanques">
            </a>
        </div>
        <div class="menu">
            <div class="enlace">
                <a routerLink="home">Home</a>
                <a routerLink="cotizar">Cotizar</a>
                <a (click)="activarMenu(true)">Menú</a>
                <a class="bars" (click)="activarMenu(true)"><i class="fa-solid fa-bars "></i></a>
                
            </div>
        </div>
        <div class="menu-open" [ngClass]="{'nav-active' : active}">
            <i class="close fa-solid fa-xmark" (click)="activarMenu(false)"></i>
            <a routerLink="home">Home</a>
            <a routerLink="cotizar">Cotizar</a>
            <a routerLink="">Menú</a>
        </div>
    </div>
</nav>