.home {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    transition: backdrop-filter 0.3s;
}

.active {
    filter: blur(10px);
}

/*  ***** GENERAL SECCIONES ***** */
.section {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.primera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda {
    background-image: url('https://cdn.discordapp.com/attachments/1008571141507534928/1121541468469862450/livefastv_interior_of_a_luxury_home_white_walls_minimal_furnitu_2f8907ec-1321-4dae-bcec-6fe3b271cce3.png');
}

.tercera {
    background-image: url('https://cdn.discordapp.com/attachments/1008571141507534928/1121551017952153640/GabrielMahalo82_happy_friends_in_a_restaurant_with_very_strong__b3cb0759-49fd-4cd4-b70a-bf7981e5ce91.png');
}

.cuarta {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_Accessories');
    position: relative;
}


/* ******  PRIMERA SECCION  ****** */
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

/* arrows */
.contenedor-arrow {
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-arrow.right {
    right: 0;
}

.contenedor-arrow.left {
    left: 0;
}

.arrow-container {
    padding: 20px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: rgba(56, 55, 55, 0.884);
    font-size: 30px;
    opacity: 0.5;
    transition: fate 0.3s ease;
}

.arrow-container:hover {
    cursor: pointer;
    opacity: 1;
}

/* slider */
img {
    min-width: 100vw;
    min-height: 100vh;
    max-height: 105vh;
    display: none;
}

.active-img {
    display: block;
}

.fate {
    animation-name: fate;
    animation-duration: 1.2s;
}

@keyframes fate {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}


/* dots */
.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 5%;
    padding: 15px 25px;
    background-color: #f7f7f785;
    border-radius: 8px;
}

.dot-element {
    color: #3b3939;
    font-size: 12px;
}

.dot-element:hover {
    cursor: pointer;
}


/* responsive */
@media (max-width: 600px) {
    .slider-container {
        width: 100%;
        height: 100vh;
    }

    img {
        height: 100vh;
        width: auto;
        position: center center;
    }

    .arrow-container {
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        opacity: 0.35;
    }
}


.footer {
    position: absolute;
    bottom: 20px;
    width: 95%;
    margin-left: 5%;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px;
}

/* Estilo del pulgar (la parte arrastrable de la barra) */
::-webkit-scrollbar-thumb {
    background-color: #EE2C37;
    /* Color del pulgar */
    border-radius: 5px;
    /* Borde redondeado del pulgar */
}

/* Estilo del fondo de la barra */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color del fondo de la barra */
}